# 01 Import libraries and data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
import os

In [2]:
# Show all graphs within cells

%matplotlib inline

In [3]:
path = r"C:\Users\leobs\OneDrive\Desktop\LF_TS_Analysis"

In [4]:
df_goog = pd.read_csv(os.path.join(path, '02 Manipulated Data', 'gsearch_st_aggs_updated.csv'), index_col=0)

In [67]:
df_albs = pd.read_csv(os.path.join(path, '02 Manipulated Data','alb_aggs.csv'), index_col=0)

In [6]:
df_songs = pd.read_csv(os.path.join(path, '02 Manipulated Data', 'song_stream_alb_final.csv'), index_col=0)

In [7]:
df_stg_merge = pd.read_csv(os.path.join(path, '02 Manipulated Data', 'gmerge_alb_groups_sums.csv'), index_col=0)

In [8]:
states = pd.read_csv(os.path.join(path, '02 Manipulated Data', 'goog_state_group_aggs.csv'), index_col=0)

# 02 Review dfs

In [9]:
df_goog.head()

,period_state,period,period_start_date,state,g_search_score,album_event,album_id,album_release_date,album_release_day,periods_from_release,...,alb_num,tv,state_num,alb_genre,alb_group_st_search_avg,st_overall_search_avg,st_group_alb_search_avg,tvflag,state alb popularity group,sales_group
0,"2006/09/28-2006/10/10, Alabama",2006/09/28-2006/10/10,2006-09-28,Alabama,0,Debut,DEBUT,2006-10-24,Tuesday,-2,...,1,original,1,Country pop,19,52,21,False,Low search popularity,Low first week sales
1,"2006/09/28-2006/10/10, Alaska",2006/09/28-2006/10/10,2006-09-28,Alaska,0,Debut,DEBUT,2006-10-24,Tuesday,-2,...,1,original,2,Country pop,19,46,16,False,Low search popularity,Low first week sales
2,"2006/09/28-2006/10/10, Arizona",2006/09/28-2006/10/10,2006-09-28,Arizona,8,Debut,DEBUT,2006-10-24,Tuesday,-2,...,1,original,3,Country pop,19,49,15,False,Low search popularity,Low first week sales
3,"2006/09/28-2006/10/10, Arkansas",2006/09/28-2006/10/10,2006-09-28,Arkansas,46,Debut,DEBUT,2006-10-24,Tuesday,-2,...,1,original,4,Country pop,19,54,30,False,Low search popularity,Low first week sales
4,"2006/09/28-2006/10/10, California",2006/09/28-2006/10/10,2006-09-28,California,3,Debut,DEBUT,2006-10-24,Tuesday,-2,...,1,original,5,Country pop,19,46,6,False,Low search popularity,Low first week sales

In [ ]:
df_goog.shape

In [ ]:
df_goog.columns

In [ ]:
df_goog_dups = df_goog.duplicated()

In [ ]:
df_goog_dups.shape

In [ ]:
df_goog.isnull().sum()

In [ ]:
df_albs.head(20)

In [ ]:
df_albs.shape

In [ ]:
df_albs.columns

In [ ]:
df_albs.isnull().sum()

In [ ]:
df_albs_dups = df_albs.duplicated()

In [ ]:
df_albs_dups.shape

In [ ]:
df_albs.info()

In [ ]:
df_goog.info()

In [ ]:
df_albs.columns

In [ ]:
df_goog.columns

In [ ]:
# rename album_release_day to dow

df_goog.rename(columns = {'album_release_day':'album_release_dow'}, inplace=True)

In [ ]:
df_goog.columns

df_goog will be the df 1 that I merge the df_albs onto
album_id is the merge 

these columns should be removed from the alb_ags df as a subset df since they also appear in df_goog:
'alb_num',

these are unique and will be included:
'album_title', 'alb_track_cnt', 'tot_alb_plays', 'top_s_cnt', 'top_alb_count', 'top_alb_normal', 'days_sr', 'alb_ann_day', 'alb_ann_yr', 'alb_r_day', 'alb_r_yr','acou_m', 'dance_m', 'ener_m', 'instru_m', 'live_m', 'loud_m', 'speech_m', 'temp_m', 'val_m', 'dur_m'

In [ ]:
df_albs_to_merge = df_albs[['album_id','alb_track_cnt', 'tot_alb_plays', 'top_s_cnt', 'top_alb_count', 'top_alb_normal', 'days_sr', 'alb_ann_day', 'alb_ann_yr', 'alb_r_day', 'alb_r_yr','acou_m', 'dance_m', 'ener_m', 'instru_m', 'live_m', 'loud_m', 'speech_m', 'temp_m', 'val_m', 'dur_m']]

In [ ]:
df_albs_to_merge

# 03 Merge dataframes on album_id

In [ ]:
df_albs_to_merge.shape

In [ ]:
df_goog.shape

In [ ]:
# merge

merged_goog_albs = df_goog.merge(df_albs_to_merge, on = 'album_id', how='left', indicator=True)

In [ ]:
merged_goog_albs.columns

In [ ]:
merged_goog_albs['_merge'].value_counts(dropna=False)

In [ ]:
# Remove merge flag

merged_goog_albs.drop(columns = ['_merge'], axis=1, inplace=True)

In [ ]:
merged_goog_albs.columns

# 04 Run quick correlation exploration based on correlation and geomapping EDA

In [ ]:
goog_songs = merged_goog_albs[['g_search_score', 
      'streams_normal', 'alb_num', 'alb_group_st_search_avg', 'st_overall_search_avg',
       'st_group_alb_search_avg', 'tvflag', 'alb_track_cnt', 'tot_alb_plays', 'top_s_cnt',
       'top_alb_count', 'top_alb_normal', 'days_sr', 'alb_ann_day',
       'alb_ann_yr', 'alb_r_day', 'alb_r_yr', 'acou_m', 'dance_m', 'ener_m',
       'instru_m', 'live_m', 'loud_m', 'speech_m', 'temp_m', 'val_m', 'dur_m'
       ]]

In [ ]:
goog_songs.corr()

In [ ]:
sns.scatterplot(x='alb_group_st_search_avg', y = 'tot_alb_plays', hue = 'album_event', data =merged_goog_albs)
plt.tight_layout()

In [ ]:
merged_goog_albs.columns

In [ ]:
sns.scatterplot(x='alb_group_st_search_avg', y = 'wk1_alb_sales', hue='tot_alb_plays', data =merged_goog_albs)
plt.tight_layout()

In [ ]:
merged_goog_albs['wk1_alb_sales'].value_counts(dropna=False)

In [ ]:
outliers_gone = merged_goog_albs.loc[merged_goog_albs['alb_group_st_search_avg'] >= 40]

In [ ]:
outliers_gone.head()

In [ ]:
sns.scatterplot(x='alb_group_st_search_avg', y = 'wk1_alb_sales', data =outliers_gone)

In [ ]:
sns.scatterplot(x='st_overall_search_avg', y = 'wk1_alb_sales', data =outliers_gone)

In [ ]:
sns.scatterplot(x='g_search_score', y = 'wk1_alb_sales', data =outliers_gone)

In [ ]:
sns.scatterplot(x='speech_m', y = 'g_search_score', data =outliers_gone)

In [ ]:
merged_goog_albs.columns

In [ ]:
sns.scatterplot(x='speech_m', y = 'wk1_alb_sales', data =merged_goog_albs)

In [ ]:
merged_goog_albs['wk1_alb_sales'].value_counts(dropna=False)

In [ ]:
df_songs.columns

In [ ]:
df_songs['speech'].plot.hist(bins=25)

In [ ]:
df_songs['acou'].plot.hist(bins=25)

In [ ]:
df_songs['dance'].plot.hist(bins=25)

In [ ]:
merged_goog_albs['speech_m'].value_counts(dropna=False)

In [ ]:
merged_goog_albs.columns

In [ ]:
sns.scatterplot(x='speech_m', y = 'wk1_alb_sales', hue = 'tvflag', data=merged_goog_albs)

In [ ]:
sns.scatterplot(x='g_search_score', y = 'periods_from_release', data=merged_goog_albs)

In [ ]:
sns.scatterplot(x='st_overall_search_avg', y = 'us_search_avg', data=merged_goog_albs)

In [ ]:
period_state', 'period', 'period_start_date', 'state',
       'g_search_score', 'album_event', 'album_id', 'album_release_date',
       'album_release_dow', 'periods_from_release', 'us_search_avg',
       'us_peak_search', 'global_search_avg', 'global_peak_search',

In [10]:
df_stg_merge.head(20)

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num,tv,state_num,...,pop_sum,pop_norm,rock_sum,rock_norm,alt_sum,alt_norm,always_ts,originals,taylorsversions,upcoming
0,Alabama,0,Debut,DEBUT,2006-10-24,-2,69,1,original,1,...,1439.050,287.810,1025,256.25,487,243.5,1030.250,1346,846.8,433
1,Alaska,0,Debut,DEBUT,2006-10-24,-2,69,1,original,2,...,1317.800,263.560,848,212.00,447,223.5,988.000,1022,866.8,361
2,Arizona,8,Debut,DEBUT,2006-10-24,-2,69,1,original,3,...,1413.975,282.795,942,235.50,524,262.0,1065.375,1111,864.6,388
3,Arkansas,46,Debut,DEBUT,2006-10-24,-2,69,1,original,4,...,1496.425,299.285,1061,265.25,492,246.0,1042.625,1348,917.8,471
4,California,3,Debut,DEBUT,2006-10-24,-2,69,1,original,5,...,1397.750,279.550,925,231.25,494,247.0,1009.750,911,985.0,339
5,Colorado,7,Debut,DEBUT,2006-10-24,-2,69,1,original,6,...,1573.275,314.655,1040,260.00,608,304.0,1207.875,1045,1127.4,419
6,Connecticut,0,Debut,DEBUT,2006-10-24,-2,69,1,original,7,...,1732.825,346.565,1233,308.25,720,360.0,1410.625,1470,1166.2,393
7,Delaware,0,Debut,DEBUT,2006-10-24,-2,69,1,original,8,...,1482.175,296.435,1169,292.25,500,250.0,1051.375,1451,934.8,364
8,District of Columbia,0,Debut,DEBUT,2006-10-24,-2,69,1,original,9,...,2019.225,403.845,1197,299.25,871,435.5,1747.625,1093,1410.6,469
9,Florida,6,Debut,DEBUT,2006-10-24,-2,69,1,original,10,...,1226.575,245.315,818,204.50,403,201.5,854.375,953,777.2,317
10,Georgia,3,Debut,DEBUT,2006-10-24,-2,69,1,original,11,...,1302.350,260.470,857,214.25,467,233.5,950.750,1074,792.6,426
11,Hawaii,0,Debut,DEBUT,2006-10-24,-2,69,1,original,12,...,1189.550,237.910,767,191.75,434,217.0,824.750,871,784.8,228
12,Idaho,25,Debut,DEBUT,2006-10-24,-2,69,1,original,13,...,1583.800,316.760,1096,274.00,567,283.5,1162.000,1316,1026.8,484
13,Illinois,3,Debut,DEBUT,2006-10-24,-2,69,1,original,14,...,1536.900,307.380,1002,250.50,549,274.5,1149.500,1098,1031.4,400
14,Indiana,8,Debut,DEBUT,2006-10-24,-2,69,1,original,15,...,1673.600,334.720,1213,303.25,543,271.5,1142.000,1487,1070.6,441
15,Iowa,0,Debut,DEBUT,2006-10-24,-2,69,1,original,16,...,1606.300,321.260,1100,275.00,539,269.5,1124.500,1425,1066.8,430
16,Kansas,13,Debut,DEBUT,2006-10-24,-2,69,1,original,17,...,1671.950,334.390,1180,295.00,516,258.0,1102.750,1423,1223.2,416
17,Kentucky,11,Debut,DEBUT,2006-10-24,-2,69,1,original,18,...,1683.175,336.635,1262,315.50,530,265.0,1170.375,1526,1034.8,524
18,Louisiana,11,Debut,DEBUT,2006-10-24,-2,69,1,original,19,...,1330.875,266.175,932,233.00,401,200.5,880.875,1201,805.0,461
19,Maine,33,Debut,DEBUT,2006-10-24,-2,69,1,original,20,...,1674.450,334.890,1231,307.75,647,323.5,1304.250,1478,1112.2,475

In [ ]:
df_stg_merge.columns

In [ ]:
df_stg_merge_num = df_stg_merge.select_dtypes(include=['number'])

In [ ]:
df_stg_merge_num.corr()

In [ ]:
states

In [ ]:
states.columns

In [ ]:
df_stg_merge.columns

In [ ]:
country = df_stg_merge['']

In [ ]:
sns.scatterplot(x='country_norm', y = 'MIDN_avg_score' , data=df_stg_merge)

In [ ]:
sns.scatterplot(x='MIDN_avg_score', y = 'st_overall_search_avg' , data=df_stg_merge)

In [ ]:
df_stg_merge.head(100)

In [ ]:
df_stg_merge

In [ ]:
df_stg_merge =

In [ ]:
sns.scatterplot(x='st_overall_search_avg', y = 'country_sum' , data=df_stg_merge)

In [ ]:
sns.scatterplot(x='st_overall_search_avg', y = 'pop_sum', data=df_stg_merge)

In [ ]:
sns.scatterplot(x='st_overall_search_avg', y = 'taylorsversions', data=df_stg_merge)

In [ ]:
sns.scatterplot(x='REP_avg_score', y = 'max_gsearch_score', data=df_stg_merge)

In [ ]:
df_stg_merge['st_overall_search_avg']

In [ ]:
df_stg_merge['st_overall_search_avg']

In [ ]:
df_stg_merge_num = df_stg_merge.select_dtypes(include=['number'])

In [ ]:
df_stg_merge_num

In [ ]:
df_stg_merge_num .corr()

In [11]:
pop_averages = df_stg_merge.loc[df_stg_merge['album_id'].isin(['LOVE', 'REP', '1989', '1989TV', 'MIDN'])]

In [12]:
country_averages = df_stg_merge.loc[df_stg_merge['album_id'].isin(['DEBUT', 'FEAR', 'FEARTV'])]

In [13]:
rock_averages = df_stg_merge.loc[df_stg_merge['album_id'].isin(['SPEAK', 'SPEAKTV', 'RED', 'REDTV'])]

In [14]:
alt_averages = df_stg_merge.loc[df_stg_merge['album_id'].isin(['EVER', 'FOLK'])]

In [15]:
pop_averages

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num,tv,state_num,...,pop_sum,pop_norm,rock_sum,rock_norm,alt_sum,alt_norm,always_ts,originals,taylorsversions,upcoming
510,Alabama,59,1989,1989,2014-10-27,-2,81,5,original,1,...,1439.050,287.810,1025,256.25,487,243.5,1030.250,1346,846.8,433
511,Alaska,52,1989,1989,2014-10-27,-2,81,5,original,2,...,1317.800,263.560,848,212.00,447,223.5,988.000,1022,866.8,361
512,Arizona,61,1989,1989,2014-10-27,-2,81,5,original,3,...,1413.975,282.795,942,235.50,524,262.0,1065.375,1111,864.6,388
513,Arkansas,69,1989,1989,2014-10-27,-2,81,5,original,4,...,1496.425,299.285,1061,265.25,492,246.0,1042.625,1348,917.8,471
514,California,52,1989,1989,2014-10-27,-2,81,5,original,5,...,1397.750,279.550,925,231.25,494,247.0,1009.750,911,985.0,339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667,Virginia,59,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,47,...,1368.175,273.635,892,223.00,579,289.5,1140.375,892,979.8,390
3668,Washington,63,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,48,...,1519.575,303.915,1045,261.25,598,299.0,1198.375,1050,1103.2,372
3669,West Virginia,63,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,49,...,1469.700,293.940,1198,299.50,486,243.0,1053.500,1449,995.2,482
3670,Wisconsin,56,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,50,...,1538.475,307.695,1068,267.00,605,302.5,1199.875,1324,1007.6,398
3671,Wyoming,58,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,51,...,1246.600,249.320,870,217.50,480,240.0,946.000,1026,925.6,329

In [16]:
pop_avgs = pop_averages.groupby('state')['g_search_score'].agg(['mean']).reset_index()

In [17]:
pop_avgs

                   state       mean
0                Alabama  57.888889
1                 Alaska  52.666667
2                Arizona  56.703704
3               Arkansas  60.222222
4             California  55.703704
5               Colorado  62.777778
6            Connecticut  69.518519
7               Delaware  59.000000
8   District of Columbia  83.851852
9                Florida  48.777778
10               Georgia  52.111111
11                Hawaii  46.888889
12                 Idaho  63.037037
13              Illinois  61.814815
14               Indiana  66.629630
15                  Iowa  63.851852
16                Kansas  65.296296
17              Kentucky  67.592593
18             Louisiana  53.148148
19                 Maine  67.333333
20              Maryland  55.740741
21         Massachusetts  80.407407
22              Michigan  59.444444
23             Minnesota  67.222222
24           Mississippi  51.222222
25              Missouri  68.296296
26               Montana  57.037037
27              Nebraska  68.000000
28                Nevada  47.777778
29         New Hampshire  70.259259
30            New Jersey  60.592593
31            New Mexico  50.000000
32              New York  56.481481
33        North Carolina  57.222222
34          North Dakota  64.814815
35                  Ohio  63.592593
36              Oklahoma  58.518519
37                Oregon  53.962963
38          Pennsylvania  69.481481
39          Rhode Island  89.629630
40        South Carolina  57.074074
41          South Dakota  63.555556
42             Tennessee  70.111111
43                 Texas  52.148148
44                  Utah  82.148148
45               Vermont  70.555556
46              Virginia  55.037037
47            Washington  61.037037
48         West Virginia  58.851852
49             Wisconsin  61.703704
50               Wyoming  48.925926

In [18]:
# Rename columns

pop_avgs.columns = ['state', 'pop_genre_search_avg']

In [19]:
pop_avgs.shape

(51, 2)

In [20]:
df_stg_merge.shape

(3672, 63)

In [21]:
df_genre_aggs1 = df_stg_merge.merge(pop_avgs, on= 'state', how='left')

In [22]:
df_genre_aggs1.shape

(3672, 64)

In [23]:
df_genre_aggs1.head()

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num,tv,state_num,...,pop_norm,rock_sum,rock_norm,alt_sum,alt_norm,always_ts,originals,taylorsversions,upcoming,pop_genre_search_avg
0,Alabama,0,Debut,DEBUT,2006-10-24,-2,69,1,original,1,...,287.810,1025,256.25,487,243.5,1030.250,1346,846.8,433,57.888889
1,Alaska,0,Debut,DEBUT,2006-10-24,-2,69,1,original,2,...,263.560,848,212.00,447,223.5,988.000,1022,866.8,361,52.666667
2,Arizona,8,Debut,DEBUT,2006-10-24,-2,69,1,original,3,...,282.795,942,235.50,524,262.0,1065.375,1111,864.6,388,56.703704
3,Arkansas,46,Debut,DEBUT,2006-10-24,-2,69,1,original,4,...,299.285,1061,265.25,492,246.0,1042.625,1348,917.8,471,60.222222
4,California,3,Debut,DEBUT,2006-10-24,-2,69,1,original,5,...,279.550,925,231.25,494,247.0,1009.750,911,985.0,339,55.703704

In [24]:
country_averages = country_averages.groupby('state')['g_search_score'].agg(['mean']).reset_index()

In [25]:
country_averages

                   state       mean
0                Alabama  47.000000
1                 Alaska  41.666667
2                Arizona  36.600000
3               Arkansas  48.666667
4             California  28.533333
5               Colorado  38.533333
6            Connecticut  50.266667
7               Delaware  43.333333
8   District of Columbia  42.200000
9                Florida  30.266667
10               Georgia  41.133333
11                Hawaii  21.200000
12                 Idaho  49.466667
13              Illinois  39.400000
14               Indiana  47.400000
15                  Iowa  53.400000
16                Kansas  53.133333
17              Kentucky  52.000000
18             Louisiana  45.600000
19                 Maine  54.466667
20              Maryland  36.266667
21         Massachusetts  50.266667
22              Michigan  49.000000
23             Minnesota  48.533333
24           Mississippi  40.000000
25              Missouri  42.866667
26               Montana  38.933333
27              Nebraska  58.266667
28                Nevada  30.133333
29         New Hampshire  52.666667
30            New Jersey  37.466667
31            New Mexico  39.133333
32              New York  33.466667
33        North Carolina  46.066667
34          North Dakota  54.600000
35                  Ohio  48.800000
36              Oklahoma  44.066667
37                Oregon  37.266667
38          Pennsylvania  51.533333
39          Rhode Island  61.066667
40        South Carolina  46.133333
41          South Dakota  48.533333
42             Tennessee  55.933333
43                 Texas  38.400000
44                  Utah  54.866667
45               Vermont  43.333333
46              Virginia  37.533333
47            Washington  37.400000
48         West Virginia  55.066667
49             Wisconsin  47.866667
50               Wyoming  42.000000

In [26]:
# Rename columns

country_averages.columns = ['state', 'country_genre_search_avg']

In [27]:
country_averages.columns

Index(['state', 'country_genre_search_avg'], dtype='object')

In [28]:
df_genre_aggs1.shape

(3672, 64)

In [29]:
df_genre_aggs2 = df_genre_aggs1.merge(country_averages, on='state', how='left')

In [30]:
df_genre_aggs2

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num,tv,state_num,...,rock_sum,rock_norm,alt_sum,alt_norm,always_ts,originals,taylorsversions,upcoming,pop_genre_search_avg,country_genre_search_avg
0,Alabama,0,Debut,DEBUT,2006-10-24,-2,69,1,original,1,...,1025,256.25,487,243.5,1030.250,1346,846.8,433,57.888889,47.000000
1,Alaska,0,Debut,DEBUT,2006-10-24,-2,69,1,original,2,...,848,212.00,447,223.5,988.000,1022,866.8,361,52.666667,41.666667
2,Arizona,8,Debut,DEBUT,2006-10-24,-2,69,1,original,3,...,942,235.50,524,262.0,1065.375,1111,864.6,388,56.703704,36.600000
3,Arkansas,46,Debut,DEBUT,2006-10-24,-2,69,1,original,4,...,1061,265.25,492,246.0,1042.625,1348,917.8,471,60.222222,48.666667
4,California,3,Debut,DEBUT,2006-10-24,-2,69,1,original,5,...,925,231.25,494,247.0,1009.750,911,985.0,339,55.703704,28.533333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667,Virginia,59,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,47,...,892,223.00,579,289.5,1140.375,892,979.8,390,55.037037,37.533333
3668,Washington,63,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,48,...,1045,261.25,598,299.0,1198.375,1050,1103.2,372,61.037037,37.400000
3669,West Virginia,63,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,49,...,1198,299.50,486,243.0,1053.500,1449,995.2,482,58.851852,55.066667
3670,Wisconsin,56,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,50,...,1068,267.00,605,302.5,1199.875,1324,1007.6,398,61.703704,47.866667
3671,Wyoming,58,1989 (Taylor's Version),1989TV,2023-10-27,1,69,14,Taylor's Version,51,...,870,217.50,480,240.0,946.000,1026,925.6,329,48.925926,42.000000

In [31]:
rock_avgs = rock_averages.groupby('state')['g_search_score'].agg(['mean']).reset_index()

In [32]:
rock_avgs

                   state   mean
0                Alabama  51.25
1                 Alaska  42.40
2                Arizona  47.10
3               Arkansas  53.05
4             California  46.25
5               Colorado  52.00
6            Connecticut  61.65
7               Delaware  58.45
8   District of Columbia  59.85
9                Florida  40.90
10               Georgia  42.85
11                Hawaii  38.35
12                 Idaho  54.80
13              Illinois  50.10
14               Indiana  60.65
15                  Iowa  55.00
16                Kansas  59.00
17              Kentucky  63.10
18             Louisiana  46.60
19                 Maine  61.55
20              Maryland  47.50
21         Massachusetts  68.15
22              Michigan  56.35
23             Minnesota  59.50
24           Mississippi  44.35
25              Missouri  56.45
26               Montana  47.15
27              Nebraska  58.90
28                Nevada  41.45
29         New Hampshire  70.75
30            New Jersey  54.40
31            New Mexico  38.25
32              New York  44.95
33        North Carolina  51.15
34          North Dakota  56.35
35                  Ohio  62.65
36              Oklahoma  53.10
37                Oregon  47.15
38          Pennsylvania  66.25
39          Rhode Island  76.70
40        South Carolina  51.65
41          South Dakota  56.90
42             Tennessee  57.55
43                 Texas  43.60
44                  Utah  66.50
45               Vermont  57.10
46              Virginia  44.60
47            Washington  52.25
48         West Virginia  59.90
49             Wisconsin  53.40
50               Wyoming  43.50

In [33]:
# Rename columns

rock_avgs.columns = ['state', 'rock_genre_search_avg']

In [34]:
rock_avgs.columns

Index(['state', 'rock_genre_search_avg'], dtype='object')

In [35]:
df_genre_aggs2.shape

(3672, 65)

In [36]:
df_genre_aggs3 = df_genre_aggs2.merge(rock_avgs, on='state', how='left')

In [37]:
alt_avgs = alt_averages.groupby('state')['g_search_score'].agg(['mean']).reset_index()

In [38]:
alt_avgs

                   state  mean
0                Alabama  48.7
1                 Alaska  44.7
2                Arizona  52.4
3               Arkansas  49.2
4             California  49.4
5               Colorado  60.8
6            Connecticut  72.0
7               Delaware  50.0
8   District of Columbia  87.1
9                Florida  40.3
10               Georgia  46.7
11                Hawaii  43.4
12                 Idaho  56.7
13              Illinois  54.9
14               Indiana  54.3
15                  Iowa  53.9
16                Kansas  51.6
17              Kentucky  53.0
18             Louisiana  40.1
19                 Maine  64.7
20              Maryland  51.2
21         Massachusetts  81.5
22              Michigan  51.9
23             Minnesota  65.5
24           Mississippi  38.0
25              Missouri  55.0
26               Montana  59.7
27              Nebraska  61.9
28                Nevada  40.6
29         New Hampshire  76.1
30            New Jersey  54.7
31            New Mexico  44.4
32              New York  50.2
33        North Carolina  50.1
34          North Dakota  43.6
35                  Ohio  55.9
36              Oklahoma  49.0
37                Oregon  60.3
38          Pennsylvania  60.1
39          Rhode Island  84.2
40        South Carolina  48.8
41          South Dakota  44.4
42             Tennessee  59.8
43                 Texas  45.1
44                  Utah  78.4
45               Vermont  65.9
46              Virginia  57.9
47            Washington  59.8
48         West Virginia  48.6
49             Wisconsin  60.5
50               Wyoming  48.0

In [39]:
# Rename columns

alt_avgs.columns = ['state', 'alt_genre_search_avg']

In [40]:
alt_avgs.columns

Index(['state', 'alt_genre_search_avg'], dtype='object')

In [41]:
df_genre_aggs3.shape

(3672, 66)

In [42]:
df_genre_aggs4 = df_genre_aggs3.merge(alt_avgs, on='state', how='left')

In [43]:
df_genre_aggs4.shape

(3672, 67)

In [44]:
df_genre_aggs4.columns

Index(['state', 'g_search_score', 'album_event', 'album_id',
       'album_release_date', 'periods_from_release', 'us_search_avg',
       'alb_num', 'tv', 'state_num', 'alb_group_st_search_avg',
       'st_overall_search_avg', 'st_group_alb_search_avg', 'tvflag',
       'state alb popularity group', 'max_gsearch_score', 'st_top_album',
       'top_alb_num', 'min_gsearch_score', 'st_lowest_album', 'low_alb_num',
       'MIDN_avg_score', 'MIDN_sum_not_norm', 'DEBUT_avg_score', 'DEBUT_sum',
       'FEAR_avg_score', 'FEAR_sum', 'SPEAK_avg_score', 'SPEAK_sum',
       'RED_avg_score', 'RED_sum', '1989_avg_score', '1989_sum',
       'REP_avg_score', 'REP_sum', 'LOVE_avg_score', 'LOVE_sum',
       'FOLK_avg_score', 'FOLK_sum', 'EVER_avg_score', 'EVER_sum',
       'FEARTV_avg_score', 'FEARTV_sum', 'REDTV_avg_score', 'REDTV_sum',
       'SPEAKTV_avg_score', 'SPEAKTV_sum', '1989TV_avg_score',
       '1989TV_sum_not_norm', 'MIDN_sum_n', '1989TV_sum_n', 'country_sum',
       'country_norm', 'pop_sum', 'pop_norm', 'rock_sum', 'rock_norm',
       'alt_sum', 'alt_norm', 'always_ts', 'originals', 'taylorsversions',
       'upcoming', 'pop_genre_search_avg', 'country_genre_search_avg',
       'rock_genre_search_avg', 'alt_genre_search_avg'],
      dtype='object')

# Look for correlations

In [45]:
genre_avg_corrs = df_genre_aggs4[['state','g_search_score', 'pop_genre_search_avg', 'country_genre_search_avg',
       'rock_genre_search_avg', 'alt_genre_search_avg']]

In [ ]:
genre_avg_corrs.corr()

In [ ]:
genre_avg_corrs.columns

In [48]:
genre_avg_corrs

,state,g_search_score,pop_genre_search_avg,country_genre_search_avg,rock_genre_search_avg,alt_genre_search_avg
0,Alabama,0,57.888889,47.000000,51.25,48.7
1,Alaska,0,52.666667,41.666667,42.40,44.7
2,Arizona,8,56.703704,36.600000,47.10,52.4
3,Arkansas,46,60.222222,48.666667,53.05,49.2
4,California,3,55.703704,28.533333,46.25,49.4
...,...,...,...,...,...,...
3667,Virginia,59,55.037037,37.533333,44.60,57.9
3668,Washington,63,61.037037,37.400000,52.25,59.8
3669,West Virginia,63,58.851852,55.066667,59.90,48.6
3670,Wisconsin,56,61.703704,47.866667,53.40,60.5
3671,Wyoming,58,48.925926,42.000000,43.50,48.0

In [47]:
columns_to_inc = ['pop_genre_search_avg',
       'country_genre_search_avg', 'rock_genre_search_avg',
       'alt_genre_search_avg']

In [49]:
genre_avg_st_groups = genre_avg_corrs.groupby('state')[columns_to_inc].first().reset_index()

In [50]:
genre_avg_st_groups

,state,pop_genre_search_avg,country_genre_search_avg,rock_genre_search_avg,alt_genre_search_avg
0,Alabama,57.888889,47.000000,51.25,48.7
1,Alaska,52.666667,41.666667,42.40,44.7
2,Arizona,56.703704,36.600000,47.10,52.4
3,Arkansas,60.222222,48.666667,53.05,49.2
4,California,55.703704,28.533333,46.25,49.4
5,Colorado,62.777778,38.533333,52.00,60.8
6,Connecticut,69.518519,50.266667,61.65,72.0
7,Delaware,59.000000,43.333333,58.45,50.0
8,District of Columbia,83.851852,42.200000,59.85,87.1
9,Florida,48.777778,30.266667,40.90,40.3
10,Georgia,52.111111,41.133333,42.85,46.7
11,Hawaii,46.888889,21.200000,38.35,43.4
12,Idaho,63.037037,49.466667,54.80,56.7
13,Illinois,61.814815,39.400000,50.10,54.9
14,Indiana,66.629630,47.400000,60.65,54.3
15,Iowa,63.851852,53.400000,55.00,53.9
16,Kansas,65.296296,53.133333,59.00,51.6
17,Kentucky,67.592593,52.000000,63.10,53.0
18,Louisiana,53.148148,45.600000,46.60,40.1
19,Maine,67.333333,54.466667,61.55,64.7
20,Maryland,55.740741,36.266667,47.50,51.2
21,Massachusetts,80.407407,50.266667,68.15,81.5
22,Michigan,59.444444,49.000000,56.35,51.9
23,Minnesota,67.222222,48.533333,59.50,65.5
24,Mississippi,51.222222,40.000000,44.35,38.0
25,Missouri,68.296296,42.866667,56.45,55.0
26,Montana,57.037037,38.933333,47.15,59.7
27,Nebraska,68.000000,58.266667,58.90,61.9
28,Nevada,47.777778,30.133333,41.45,40.6
29,New Hampshire,70.259259,52.666667,70.75,76.1
30,New Jersey,60.592593,37.466667,54.40,54.7
31,New Mexico,50.000000,39.133333,38.25,44.4
32,New York,56.481481,33.466667,44.95,50.2
33,North Carolina,57.222222,46.066667,51.15,50.1
34,North Dakota,64.814815,54.600000,56.35,43.6
35,Ohio,63.592593,48.800000,62.65,55.9
36,Oklahoma,58.518519,44.066667,53.10,49.0
37,Oregon,53.962963,37.266667,47.15,60.3
38,Pennsylvania,69.481481,51.533333,66.25,60.1
39,Rhode Island,89.629630,61.066667,76.70,84.2
40,South Carolina,57.074074,46.133333,51.65,48.8
41,South Dakota,63.555556,48.533333,56.90,44.4
42,Tennessee,70.111111,55.933333,57.55,59.8
43,Texas,52.148148,38.400000,43.60,45.1
44,Utah,82.148148,54.866667,66.50,78.4
45,Vermont,70.555556,43.333333,57.10,65.9
46,Virginia,55.037037,37.533333,44.60,57.9
47,Washington,61.037037,37.400000,52.25,59.8
48,West Virginia,58.851852,55.066667,59.90,48.6
49,Wisconsin,61.703704,47.866667,53.40,60.5
50,Wyoming,48.925926,42.000000,43.50,48.0

In [51]:
df_stg_merge.shape

(3672, 63)

In [60]:
# merge genre aggs with df_goog

final_goog1 = df_stg_merge.merge(genre_avg_st_groups, on = 'state', how='left', indicator=True)

In [61]:
final_goog1.shape

(3672, 68)

In [63]:
final_goog1['_merge'].value_counts(dropna=False)

_merge
both          3672
left_only        0
right_only       0
Name: count, dtype: int64

In [64]:
final_goog1.head(20)

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num,tv,state_num,...,alt_norm,always_ts,originals,taylorsversions,upcoming,pop_genre_search_avg,country_genre_search_avg,rock_genre_search_avg,alt_genre_search_avg,_merge
0,Alabama,0,Debut,DEBUT,2006-10-24,-2,69,1,original,1,...,243.5,1030.250,1346,846.8,433,57.888889,47.000000,51.25,48.7,both
1,Alaska,0,Debut,DEBUT,2006-10-24,-2,69,1,original,2,...,223.5,988.000,1022,866.8,361,52.666667,41.666667,42.40,44.7,both
2,Arizona,8,Debut,DEBUT,2006-10-24,-2,69,1,original,3,...,262.0,1065.375,1111,864.6,388,56.703704,36.600000,47.10,52.4,both
3,Arkansas,46,Debut,DEBUT,2006-10-24,-2,69,1,original,4,...,246.0,1042.625,1348,917.8,471,60.222222,48.666667,53.05,49.2,both
4,California,3,Debut,DEBUT,2006-10-24,-2,69,1,original,5,...,247.0,1009.750,911,985.0,339,55.703704,28.533333,46.25,49.4,both
5,Colorado,7,Debut,DEBUT,2006-10-24,-2,69,1,original,6,...,304.0,1207.875,1045,1127.4,419,62.777778,38.533333,52.00,60.8,both
6,Connecticut,0,Debut,DEBUT,2006-10-24,-2,69,1,original,7,...,360.0,1410.625,1470,1166.2,393,69.518519,50.266667,61.65,72.0,both
7,Delaware,0,Debut,DEBUT,2006-10-24,-2,69,1,original,8,...,250.0,1051.375,1451,934.8,364,59.000000,43.333333,58.45,50.0,both
8,District of Columbia,0,Debut,DEBUT,2006-10-24,-2,69,1,original,9,...,435.5,1747.625,1093,1410.6,469,83.851852,42.200000,59.85,87.1,both
9,Florida,6,Debut,DEBUT,2006-10-24,-2,69,1,original,10,...,201.5,854.375,953,777.2,317,48.777778,30.266667,40.90,40.3,both
10,Georgia,3,Debut,DEBUT,2006-10-24,-2,69,1,original,11,...,233.5,950.750,1074,792.6,426,52.111111,41.133333,42.85,46.7,both
11,Hawaii,0,Debut,DEBUT,2006-10-24,-2,69,1,original,12,...,217.0,824.750,871,784.8,228,46.888889,21.200000,38.35,43.4,both
12,Idaho,25,Debut,DEBUT,2006-10-24,-2,69,1,original,13,...,283.5,1162.000,1316,1026.8,484,63.037037,49.466667,54.80,56.7,both
13,Illinois,3,Debut,DEBUT,2006-10-24,-2,69,1,original,14,...,274.5,1149.500,1098,1031.4,400,61.814815,39.400000,50.10,54.9,both
14,Indiana,8,Debut,DEBUT,2006-10-24,-2,69,1,original,15,...,271.5,1142.000,1487,1070.6,441,66.629630,47.400000,60.65,54.3,both
15,Iowa,0,Debut,DEBUT,2006-10-24,-2,69,1,original,16,...,269.5,1124.500,1425,1066.8,430,63.851852,53.400000,55.00,53.9,both
16,Kansas,13,Debut,DEBUT,2006-10-24,-2,69,1,original,17,...,258.0,1102.750,1423,1223.2,416,65.296296,53.133333,59.00,51.6,both
17,Kentucky,11,Debut,DEBUT,2006-10-24,-2,69,1,original,18,...,265.0,1170.375,1526,1034.8,524,67.592593,52.000000,63.10,53.0,both
18,Louisiana,11,Debut,DEBUT,2006-10-24,-2,69,1,original,19,...,200.5,880.875,1201,805.0,461,53.148148,45.600000,46.60,40.1,both
19,Maine,33,Debut,DEBUT,2006-10-24,-2,69,1,original,20,...,323.5,1304.250,1478,1112.2,475,67.333333,54.466667,61.55,64.7,both

In [65]:
final_goog1.drop(columns=['_merge'], axis=1, inplace=True)

In [66]:
final_goog1.columns

Index(['state', 'g_search_score', 'album_event', 'album_id',
       'album_release_date', 'periods_from_release', 'us_search_avg',
       'alb_num', 'tv', 'state_num', 'alb_group_st_search_avg',
       'st_overall_search_avg', 'st_group_alb_search_avg', 'tvflag',
       'state alb popularity group', 'max_gsearch_score', 'st_top_album',
       'top_alb_num', 'min_gsearch_score', 'st_lowest_album', 'low_alb_num',
       'MIDN_avg_score', 'MIDN_sum_not_norm', 'DEBUT_avg_score', 'DEBUT_sum',
       'FEAR_avg_score', 'FEAR_sum', 'SPEAK_avg_score', 'SPEAK_sum',
       'RED_avg_score', 'RED_sum', '1989_avg_score', '1989_sum',
       'REP_avg_score', 'REP_sum', 'LOVE_avg_score', 'LOVE_sum',
       'FOLK_avg_score', 'FOLK_sum', 'EVER_avg_score', 'EVER_sum',
       'FEARTV_avg_score', 'FEARTV_sum', 'REDTV_avg_score', 'REDTV_sum',
       'SPEAKTV_avg_score', 'SPEAKTV_sum', '1989TV_avg_score',
       '1989TV_sum_not_norm', 'MIDN_sum_n', '1989TV_sum_n', 'country_sum',
       'country_norm', 'pop_sum', 'pop_norm', 'rock_sum', 'rock_norm',
       'alt_sum', 'alt_norm', 'always_ts', 'originals', 'taylorsversions',
       'upcoming', 'pop_genre_search_avg', 'country_genre_search_avg',
       'rock_genre_search_avg', 'alt_genre_search_avg'],
      dtype='object')

In [69]:
## merge final_goog1 with album aggs

df_albs.head()

,album_id,album_title,tv,alb_num,alb_track_cnt,w1_trad_album_sales,tot_alb_plays,alb_streams_norm,avg_song_pop,top_s_cnt,...,acou_m,dance_m,ener_m,instru_m,live_m,loud_m,speech_m,temp_m,val_m,dur_m
0,1989,1989 (Deluxe Edition),original,5.0,19.0,1297000.0,7274954212,2204522,67.157895,5.0,...,0.0692,0.633,0.6920,0.000006,0.1180,-6.104,0.0549,119.9970,0.495,220440.0
1,1989TV,1989 (Taylor's Version)[Deluxe],Taylor's Version,14.0,22.0,1359000.0,1462293896,112484136,79.818182,14.0,...,0.0386,0.610,0.6785,0.000010,0.1135,-6.483,0.0442,118.0225,0.374,224955.0
2,DEBUT,Debut,original,1.0,15.0,39000.0,1164903748,187127,63.133333,1.0,...,0.0868,0.576,0.6720,0.000000,0.1280,-4.931,0.0293,115.0280,0.428,213053.0
3,EVER,evermore (deluxe version),original,9.0,17.0,154500.0,3801516966,3584268,72.764706,9.0,...,0.8300,0.546,0.5170,0.000066,0.1140,-10.381,0.0377,122.0790,0.354,245026.0
4,FEAR,Fearless Platinum Edition,original,2.0,19.0,592300.0,2590571504,473068,45.947368,2.0,...,0.1300,0.592,0.6360,0.000000,0.1130,-4.993,0.0308,118.9820,0.307,244240.0

In [71]:
final_goog1.columns

Index(['state', 'g_search_score', 'album_event', 'album_id',
       'album_release_date', 'periods_from_release', 'us_search_avg',
       'alb_num', 'tv', 'state_num', 'alb_group_st_search_avg',
       'st_overall_search_avg', 'st_group_alb_search_avg', 'tvflag',
       'state alb popularity group', 'max_gsearch_score', 'st_top_album',
       'top_alb_num', 'min_gsearch_score', 'st_lowest_album', 'low_alb_num',
       'MIDN_avg_score', 'MIDN_sum_not_norm', 'DEBUT_avg_score', 'DEBUT_sum',
       'FEAR_avg_score', 'FEAR_sum', 'SPEAK_avg_score', 'SPEAK_sum',
       'RED_avg_score', 'RED_sum', '1989_avg_score', '1989_sum',
       'REP_avg_score', 'REP_sum', 'LOVE_avg_score', 'LOVE_sum',
       'FOLK_avg_score', 'FOLK_sum', 'EVER_avg_score', 'EVER_sum',
       'FEARTV_avg_score', 'FEARTV_sum', 'REDTV_avg_score', 'REDTV_sum',
       'SPEAKTV_avg_score', 'SPEAKTV_sum', '1989TV_avg_score',
       '1989TV_sum_not_norm', 'MIDN_sum_n', '1989TV_sum_n', 'country_sum',
       'country_norm', 'pop_sum', 'pop_norm', 'rock_sum', 'rock_norm',
       'alt_sum', 'alt_norm', 'always_ts', 'originals', 'taylorsversions',
       'upcoming', 'pop_genre_search_avg', 'country_genre_search_avg',
       'rock_genre_search_avg', 'alt_genre_search_avg'],
      dtype='object')

In [73]:
df_albs.columns

Index(['album_id', 'album_title', 'tv', 'alb_num', 'alb_track_cnt',
       'w1_trad_album_sales', 'tot_alb_plays', 'alb_streams_norm',
       'avg_song_pop', 'top_s_cnt', 'top_alb_count', 'top_alb_normal',
       'days_sr', 'alb_ann_day', 'alb_ann_yr', 'alb_r_day', 'alb_r_yr',
       'acou_m', 'dance_m', 'ener_m', 'instru_m', 'live_m', 'loud_m',
       'speech_m', 'temp_m', 'val_m', 'dur_m'],
      dtype='object')

In [74]:
alb_aggs_sub = df_albs[['album_id', 'alb_num', 'alb_track_cnt',
       'w1_trad_album_sales', 'tot_alb_plays', 'alb_streams_norm',
       'avg_song_pop', 'top_s_cnt', 'top_alb_count', 'top_alb_normal',
       'days_sr', 'alb_ann_day', 'alb_ann_yr', 'alb_r_day', 'alb_r_yr',
       'acou_m', 'dance_m', 'ener_m', 'instru_m', 'live_m', 'loud_m',
       'speech_m', 'temp_m', 'val_m', 'dur_m']]

In [75]:
alb_aggs_sub.shape

(14, 25)

In [70]:
final_goog1.shape

(3672, 67)

In [77]:
final_goog = final_goog1.merge(alb_aggs_sub, on='album_id', indicator=True)

In [78]:
final_goog.shape

(3672, 92)

In [79]:
final_goog.head(100)

,state,g_search_score,album_event,album_id,album_release_date,periods_from_release,us_search_avg,alb_num_x,tv,state_num,...,dance_m,ener_m,instru_m,live_m,loud_m,speech_m,temp_m,val_m,dur_m,_merge
0,Alabama,0,Debut,DEBUT,2006-10-24,-2,69,1,original,1,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
1,Alaska,0,Debut,DEBUT,2006-10-24,-2,69,1,original,2,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
2,Arizona,8,Debut,DEBUT,2006-10-24,-2,69,1,original,3,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
3,Arkansas,46,Debut,DEBUT,2006-10-24,-2,69,1,original,4,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
4,California,3,Debut,DEBUT,2006-10-24,-2,69,1,original,5,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Utah,0,Debut,DEBUT,2006-10-24,-1,78,1,original,45,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
96,Vermont,0,Debut,DEBUT,2006-10-24,-1,78,1,original,46,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
97,Virginia,9,Debut,DEBUT,2006-10-24,-1,78,1,original,47,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
98,Washington,4,Debut,DEBUT,2006-10-24,-1,78,1,original,48,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both
99,West Virginia,0,Debut,DEBUT,2006-10-24,-1,78,1,original,49,...,0.576,0.672,0.0,0.128,-4.931,0.0293,115.028,0.428,213053.0,both

# Export!

In [80]:
# Export aggregated google search by state

final_goog.to_csv(os.path.join(path, '02 Manipulated Data', 'final_goog.csv'))